<div class='bio'>
    <div class='bio-name'><%=bio.name%></div>
    <img src="<%=bio.img_src%>">
    <div class='caption'>
        <%=bio.caption%>
    </div>
    <div class='quote'>
        <%=bio.quote%>
    </div>
</div>