<div class='footer'>
    <div class='container limit-width'>
        <div class='col'>
            <div class='section'>Open Doors</div>
            <div>10 Bay Street</div>
            <div>Westport, CT 06880</div>
        </div>
        <div class='col'>
            <div class='section'>Contact</div>
            <div>OpenDoorsFoundationCT@gmail.com</div>
        </div>
        <div class='col'>
            <div class='section'><a href='/support'>Support</a></div>
            <div><a href='/donate'>Make a Donation</a></div>
            <div><a href='/involvement'>Get Involved</a></div>
        </div>
    </div>
</div>