<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/logo.png" />
    <link rel="stylesheet" href="glide/css/glide.core.min.css">
    <link rel="stylesheet" href="glide/css/glide.theme.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <link rel='stylesheet' href='main.css'></link>


    <link href="https://fonts.googleapis.com/css?family=Oxygen|Signika|Titillium+Web|Noto+Sans" rel="stylesheet">
</head>