body {
    padding: 0;
    margin: 0;
    font-family: "Titillium Web", sans-serif;
}

.limit-width {
    max-width: 900px;
    min-width: 550px;
    width: 100%;
}

.edu-enl-emp {
    .educate {
        color: #000080;
    }

    .enlighten {
        color: #8ba685;
    }

    .empower {
        color: lightblue;
    }
}

.banner {
    height: 150px;
    display: flex;
    justify-content: space-around;
    background-color: #677d9e;
    align-content: center;
    font-family: "Signika", sans-serif;

    .site-title {
        color: #8ba685;
        font-size: 70px;
    }

    .logo-subtitle {
        font-family: "helvetica";
        font-style: italic;
        white-space: nowrap;
    }

    .side-spacer {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 25px;

        a {
            height: 100%;
            display: flex;
            align-items: center;
        }

        img {
            height: 80%;
        }
    }
}

.footer {
    height: 150px;
    background-color: #677d9e;
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        flex-direction: row;
        margin: auto;

        .col {
            flex: 1;
            color: white;
            border-left: 2px solid white;
            padding-left: 10px;

            .section {
                color: #8ba685;

                a {
                    text-decoration: none;
                }
            }

            a {
                color: inherit;
            }
        }
    }
}

.test {
    .banner {
        background-color: #69c;

        .site-title {
            color: white;
        }
    }

    .footer {
        background-color: #69c;

        .section {
            color: #000080 !important;
        }
    }

    .enlighten {
        color: #375431 !important;
    }

}

.config {
    .banner {
        background-color: white;
    }
}

nav {
    background-color: white;
    z-index: 10;
    padding: 0;
    margin: 0;
    // margin-bottom: 10px;
    position: sticky;
    top: 0px;
    height: 60px;
    border-bottom: 1px solid whitesmoke;

    ol {
        height: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        li {
            padding-left: 20px;
            padding-right: 20px;
            height: 100%;
            display: flex;
            align-items: center;
            font-family: "Oxygen", sans-serif;
            white-space: nowrap;

            &.active {
                background-color: whitesmoke;
            }

            &:hover {
                font-weight: bold;
                cursor: pointer;
            }
        }

        .spacer {
            flex: 1;
            &:hover {
                cursor: default;
            }
        }
        .donate{
            background-color:#8ba685;
            color:white;
            height:80%;
            margin:auto;
            border-radius: 3px;
            margin-right:15px;
            border: 1px solid white;
            &:hover{
                border:1px solid #a5c39e;
            }
            &:active{
                background-color:#718e6a;;
            }
        }
    }
}

.dropdown {
    float: left;
    overflow: hidden;
    display: block;
    height: 100%;

    .dropbtn {
        height: 100%;
        font-size: 16px;
        color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    .dropdown-link {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-link:hover {
        background-color: #ddd;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

.glide {
    cursor: default !important;
    background-color: #69c;
}

.slide {
    background-color: #69c;
    height: 500px;
    display: flex;

    .caption-container {
        flex: 1;
        min-width: 250px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .caption {
            font-family: "Oswald", sans-serif;
            color: white;
            text-align: center;
            padding: 15px;
        }

        .learn-btn {
            width: 100px;
            background-color: #8ba685;
            border: none;
            color: white;
            border-radius: 8px;
            padding: 10px;
            font-size: 15px;
            margin-top: 15px;
            text-align: center;
            text-decoration: none;
        }
    }

    .photo-container {
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center;

        img {

            height: 100%;
        }
    }
}

.title {
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    width: 100%;
    color: white;
    background-color: #69c;
}

.home {
    width: 100%;
    align-items: center;

    .title {
        background-color: inherit;
        // background-color:#677d9e;
        flex: 1;
    }

    .home-content {
        h2 {
            text-align: center;
            padding-left: 40px;
            padding-right: 40px;
        }

        p {
            font-size: 20px;

            a {
                text-decoration: none;
                color: inherit;

                &:hover {
                    border-bottom: 1px solid black;
                }
            }
        }

        .emphasis {
            font-weight: 900;
            font-size: 23px;
        }
    }
}

.contact {

    .contact-container {
        display: flex;
        flex-direction: row;

        .message-container {
            flex: 1;
            display: none;
            height: 350px;
            text-align: center;
            padding-top: 10px;
        }

        .email-container {
            flex-direction: column;
            flex: 1;
            padding: 10px;

            .input-container {

                margin-bottom: 10px;

                label {
                    font-size: 12px;
                }

                input,
                textarea {
                    width: 100%;
                    resize: none;
                    font-size: 15px;
                    border-radius: 3px;
                    background-color: #e0ebf7;
                    border: 1px solid lightgrey;
                    padding: 5px;
                }
            }

            .submit {
                font-size: 20px;
                background-color: #8ba685;
                font-family: "Signika", sans-serif;
                border: 1px solid white;
                border-radius: 5px;
                color: white;
                float: right;

                &:hover {
                    border: 1px solid grey;
                }
            }
        }

        .text-ctn {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: center;
            padding-left: 15px;

            .text {
                text-align: center;
                margin-top: 60px;
                font-size: 25px;
                font-family: "Signika", sans-serif;
            }
        }
    }
}

.board {
    .bio {
        margin-top: 20px;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 5px 15px;

        .bio-name {
            font-size: 30px;
            font-family: "Oxygen", sans-serif;
            padding: 5px;
        }

        img {
            width: 60%;
        }

        .caption {
            font-size: 14px;
        }

        .quote {
            margin: 15px;
            font-weight: bold;
            font-size: 20px;
        }
    }
}

.about,
.support {
    .big-text {
        text-align: center;
        width:80%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin:auto;
    }

    .description {
        p {
            margin: 15px;
        }
    }

    .financial-info {
        color: black;

        &:hover {
            color: darkblue;
        }
    }
}

.donate-widget {

    margin:20px;
    display: flex;
        justify-content: center;

    .options {
        display: flex;

        .discrete-val {
            background-color: #b2c9e0;
            font-size: 15px;
            color: white;
            border-radius: 0px;
            border:1px solid white;
            width: 100px;
            height: 40px;
            outline: 0;

            &.active {
                background-color: #69c;
            }

            &:hover {
                cursor: pointer;
            }
        }

    }
    .submit-button {
        margin-top:15px;
        background-color: #8ba685;
        height: 70px;
        width: 250px;
        color: white;
        font-size: 25px;
        &:hover{
            cursor:pointer;
        }
    }
}
