<!DOCTYPE html>
<html lang="en">

<%- include ./partials/header -%>

<body>
    <%- include ./partials/navigation -%>
    <div style='display:flex; justify-content:center;' class='about'>
        <div class='limit-width'>
            <div style='display:flex; flex-direction: column; align-items: center;'>
                <div class='title'>
                    Our Mission
                </div>
                <div class='big-text'>
                    <h2>
                        The <strong>Open Doors Foundation</strong> works to educate, enlighten, and empower future generations by
                        “opening doors” to opportunity.
                    </h2>
                </div>

                <div class='description'>
                    <p>Through organized academic and athletic activities, the Open Doors Foundation strives to enhance education and pre-professional skills through Bridgeport, Connecticut and the Caribbean Island of Antigua focusing in areas and situations where students may not necessarily have the opportunities.</p>
                    <p>Understanding the economy and skills needed are a critical part of what makes the Open Doors Foundation unique. By customizing the programs to meet the needs of the students, our foundation ensures that students are better prepared for success.</p>

                    <h3>A Creative Approach to Education in the Caribbean</h3>
                    <p>By embracing a creative approach to education in Antigua, our facilitators teach both traditional academic and pre-professional skills tied closely to the economic need on the island. With hospitality being many of the Caribbean countries’ main source of income, we focus on home economic and culinary skills. In addition, clothing design and smart farming skills help close the gap of opportunity and expand the possibilities available to students. </p>

                    <h3>Opening the Doors to Opportunity in Connecticut</h3>
                    <p>In Bridgeport, we continue to promote a safe, healthy and engaging environment through organized academic and athletic weekend activities in collaboration with the local high schools. We also provide a jobs program where we partner with small businesses to align the skills of our students to the jobs at hand. Students gain the opportunity to work in a certain business area while companies gain the benefit of having an “intern” for six weeks whom they can eventually hire. The Open Doors Foundation will cover the student’s pay for those six weeks. A win-win for companies and students. </p>
                    <p>Thanks to the generosity of donors like you, the Open Doors Foundation can open an endless possibility of doors to students, providing limitless opportunities and empowering future generations. </p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>