<!DOCTYPE html>
<html lang="en">

<%- include ./partials/header -%>

<body>
    <%- include ./partials/navigation -%>
    <div style='display:flex; justify-content:center;' class='about'>
        <div class='limit-width'>
            <div style='display:flex; flex-direction: column; align-items: center;'>
                <div class='title'>
                    Our Mission
                </div>
                <div class='mission-statement'>
                    <h2>
                        The Open Doors Foundation works to educate, enlighten, and empower future generations by
                        “opening
                        the
                        doors” to opportunity.
                    </h2>
                </div>

                <div class='description'>
                    <div>
                        Through after-school programs, organized academic and athletic activities, the Open Doors
                        Foundation
                        strives to enhance education and pre-professional skills throughout New England and the
                        Caribbean
                        Islands in areas where students may not necessarily have these opportunities.
                    </div>
                    <div>
                        Understanding the economy and skills needed are critical part of what makes the Open Doors
                        Foundation unique. By customizing our programs to meet the needs of the students in a particular
                        region, we ensure our students are set up for success.
                    </div>

                    <h3>A Creative Approach to Education in the Caribbean</h3>
                    <div>
                        By embracing a creative approach to education in the Caribbean, our facilitators teach both
                        traditional academic and pre-professional skills tied closely to the economy in the islands
                        where
                        there is a need for skilled professionals. With hospitality being many of the Caribbean
                        countries’
                        main source of income, we focus on home economic and culinary skills. In addition, clothing
                        design
                        and smart farming skills help close the gap of opportunity and expand the possibilities
                        available to
                        students.
                    </div>

                    <h3>Opening the Doors to Opportunity in New England</h3>
                    <div>
                        In New England, we continue to promote a safe, healthy and engaging environment through after
                        school
                        programs and organized academic and athletic weekend activities while also providing a jobs
                        program.
                        We partner with small businesses to align the skills of our students to the jobs at hand.
                        Students
                        gain the opportunity to work in a certain business area while companies gain the benefit of
                        having
                        an ‘intern’ for 6 weeks who they can eventually hire. A win-win for companies and students.  
                    </div>
                    <div>
                        Thanks to the generosity of donors like you, we are able to open an endless possibility of doors
                        for
                        our students providing limitless opportunities and empowering future generations.
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>