<!DOCTYPE html>
<html lang="en">

<%- include ./partials/header -%>

<body>
    <%- include ./partials/navigation -%>
    <div style='display:flex; justify-content:center;' class='about'>
        <div class='limit-width'>
            <div style='display:flex; flex-direction: column; align-items: center;'>
                <div class='title'>
                    Our Mission
                </div>
                <div class='big-text'>
                    <h2>
                        The <strong>Open Doors Foundation</strong> works to educate, enlighten, and empower future generations by
                        “opening doors” to opportunity.
                    </h2>
                </div>

                <div class='description'>
                    <p>Through organized academic and athletic activities, the Open Doors Foundation strives to enhance education and pre-professional skills through Bridgeport, Connecticut and the Caribbean Island of Antigua focusing in areas and situations where students may not necessarily have the opportunities.</p>
                    <p>Understanding the economy and skills needed are a critical part of what makes the Open Doors Foundation unique. By customizing the programs to meet the needs of the students, our foundation ensures that students are better prepared for success.</p>
                </div>
            </div>
        </div>
    </div>
    <%- include ./partials/footer -%>
</body>

</html>