<!DOCTYPE html>
<html lang="en">

<%- include ./partials/header -%>

<body>
    <%- include ./partials/navigation -%>
    <div style='display:flex; justify-content:center;' class='board'>

        <div class='limit-width'>
            <div style='display:flex; flex-direction: column'>
                <div class='title'>
                    Board of Members
                </div>
                <div style='display:flex; flex-direction:column; align-items: center;'>
                    <% for(var i=0; i<bios.length; i++){%>
                    <%-include('./partials/bio', {bio:bios[i]})-%>
                    <%}%>
                </div>
            </div>
        </div>

    </div>
    <%- include ./partials/footer -%>

</body>

</html>