<!DOCTYPE html>
<html lang="en">

<%- include ./partials/header -%>

<body>
    <%- include ./partials/navigation -%>
    <div style='display:flex; justify-content:center;' class='board'>

        <div class='limit-width'>
            <div style='display:flex; flex-direction: column'>
                <div class='title'>
                    Board of Members
                </div>
                <div style='display:flex; flex-direction:column; align-items: center;'>
                    <div class='bio'>
                        <div class='bio-name'>Lynroy Henry</div>
                        <img src="/img/pic.jpg">
                        <div class='caption'>
                            Lynroy Henry holds a Bachelor’s Degree in Physical Education from York College and was a
                            school teacher on the Caribbean Island of Aruba for seven years. During that time, he also
                            worked as a fitness instructor and youth counselor for the juvenile prison system, as well
                            as coached basketball, track, volleyball, and soccer. As a bodybuilder, he won many
                            championships including Mr. New York City, Mr. Tri-state, Mr. Aruba and Mr. Antigua.
                            Additionally, he sponsored, managed, and coached a Little League baseball team. He has been
                            a true entrepreneur for thirty years, working as a personal trainer, purveyor of
                            fitnesswear and nutritional supplements, and owning health clubs and real estate. His life
                            was shaped by both of his grandmothers who were great leaders in their communities. He was
                            inspired by others such Dr. Martin Luther King who demonstrated the ultimate dedication and
                            commitment. His goal for Open Doors is to help provide greater educational opportunities
                            for the community’s youth. He believes that education will have the greatest impact for
                            both current and future generations.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>