<!DOCTYPE html>
<html>

<%- include ./partials/header -%>

<body>
    <%- include ./partials/navigation -%>

    <div class="glide">
        <div class="glide__track" data-glide-el="track" style='margin:0;'>
            <ul class="glide__slides" style='margin:0;'>
                <% for(var i=1; i<=6; i++) {%>
                    <li class="glide__slide">
                        <div class='slide'>
                            <div class='photo-container'>
                                <img src="/img/slider-<%=i%>.jpg">
                            </div>
                        </div>
                    </li>
                <%}%>
            </ul>
        </div>


        <div class="glide__bullets" data-glide-el="controls[nav]">
            <% for(var i=1; i<=6; i++) {%>
                <button class="glide__bullet" data-glide-dir="=<%=i-1%>"></button>
            <%}%>
        </div>
    </div>


    <!-- <div style='height:200px; border:1px solid black;'>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis quas, temporibus nihil eos aut quod in non
        repellendus aliquam, nemo sint aliquid? A sapiente repellat perferendis earum facilis nesciunt eveniet?
    </div>
    <div style='height:200px; border:1px solid black;'>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis quas, temporibus nihil eos aut quod in non
        repellendus aliquam, nemo sint aliquid? A sapiente repellat perferendis earum facilis nesciunt eveniet?
    </div>
    <div style='height:200px; border:1px solid black;'>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis quas, temporibus nihil eos aut quod in non
        repellendus aliquam, nemo sint aliquid? A sapiente repellat perferendis earum facilis nesciunt eveniet?
    </div>
    <div style='height:200px; border:1px solid black;'>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis quas, temporibus nihil eos aut quod in non
        repellendus aliquam, nemo sint aliquid? A sapiente repellat perferendis earum facilis nesciunt eveniet?
    </div>
    <div style='height:200px; border:1px solid black;'>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis quas, temporibus nihil eos aut quod in non
        repellendus aliquam, nemo sint aliquid? A sapiente repellat perferendis earum facilis nesciunt eveniet?
    </div> -->

</body>
<script src="glide/glide.min.js"></script>

<script>
    new Glide('.glide', {
        type: 'carousel',
        autoplay: 4000,
        hoverpause: false,
        swipeThreshold: false
    }).mount()
</script>
</html>