<!DOCTYPE html>
<html lang="en">

<%- include ./partials/header -%>

<body>
    <%- include ./partials/navigation -%>
    <div style='display:flex; justify-content:center;' class='support'>
        <div class='limit-width'>
            <div style='display:flex; flex-direction: column; align-items: center;'>
                <div class='title'>
                    Get Involved
                </div>
                <div class='big-text'>
                    <h2>
                        Open Doors is looking for like-minded members and volunteers who are progressive, motivated and forward-thinking. Open Doors believe that members and volunteers who possess these qualities will be most impactful for long term success of the group and the communities we work with.
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <%- include ./partials/footer -%>
</body>

</html>