<!DOCTYPE html>
<html lang="en">

<%- include ./partials/header -%>

<body>
    <%- include ./partials/navigation -%>
    <div style='display:flex; justify-content:center;' class='support'>
        <div class='limit-width'>
            <div style='display:flex; flex-direction: column; align-items: center;'>
                <div class='title'>
                    Get Involved
                </div>
            </div>
        </div>
    </div>
    <%- include ./partials/footer -%>
</body>

</html>