<!DOCTYPE html>
<html lang="en">

<%- include ./partials/header -%>

<body>
    <%- include ./partials/navigation -%>
    <div style='display:flex; justify-content:center;' class='about'>
        <div class='limit-width'>
            <div style='display:flex; flex-direction: column; align-items: center;'>
                <div class='title'>
                    Results
                </div>

                <div class='description'>
                    <p> The Open Doors Foundation was started by Lynroy Henry to expand upon the work he did during his six years as President of the Roots of Bolans Development Group. During this time, the organization started an after-school program, donated a full playground, underwent beautification and landscaping projects, implemented a golf training program, and established a highly successful summer camp. </p>
                    <p>The after school academic reinforcement program helped enormously increase standardized test scores and grades. This program was funded by a shop that Mr. Henry instituted at the S.R. Olivia David Primary School. In 2019, the Grade 6 students attained 100% passes in Language Arts, Science and Social Studies and 91% passes in Mathematics.  In the Grade 4 assessment,  Language Arts had 100% passes in comparison to 33% in the previous year while Mathematics jumped from 28% to 37%. In the Grade 2 assessment, the students attained 70 % passes in Language Arts and 74% in Mathematics compared to just over 60% in both areas in the past year. The Open Doors Foundation plans to build upon this success and spread this program to all of St. Mary’s County and into Fairfield County. </p>
                    <p>The organization also underwent beautification projects to improve the school from outside, in. From landscaping to donating an outdoor playground to repainting the classrooms, the school building was transformed into a better learning environment for the students. </p>
                    <p>In the spirit of providing the students with more opportunities to succeed and progress, the golf program was designed to expose the students to a completely new sport. Two of the students went on to compete in junior tournaments. Without this exposure, their potential wouldn’t have been realized. </p>
                    <p>Finally, the Charmaine Henry Summer Camp, which provided a week’s worth of sports, academic, and arts activities, helped provide the students at S.R. Olivia David Primary School with both the materials and support that their success depended upon. The group donated over 500 pairs of sneakers, art supplies, over 1000 pieces of clothing, 150 bags, and hundreds of books and school supplies. More importantly than that, the camp provided enormous emotional support and inspiration for the students. Simply by being there every year, the program supported the students and showed them that there were people who truly cared about them and their futures. Despite all the organization gave them, their presence and ability to treat them with love and respect was the best gift they gave. There are multiple students who graduated as a result of the camp and have become mentors for the program, helping to provide more students with the experience they had. The Open Doors Foundation hopes that these mentors continue to build upon the camp and produce more leaders, so that the program can continue to be successful. </p>
                </div>

            </div>
        </div>
    </div>
    <%- include ./partials/footer -%>
</body>

</html>