<!DOCTYPE html>
<html lang="en">

<%- include ./partials/header -%>

<body>
    <%- include ./partials/navigation -%>
    <div style='display:flex; justify-content:center;' class='why-us'>

        <div class='limit-width'>
            <div style='display:flex; flex-direction: column'>
                <div class='title'>
                    Why Us?
                </div>
                <div>
                    <h3>Lynroy Henry, the founder of the Open Doors Foundation, explains what drove him to create these enrichment programs.</h3>
                    <p>“I had never read a book until I was 17 years old. Now, I have two college degrees. That’s the life-changing power that equal access to information and opportunity can grant you.”</p>
                    <p>Lynroy was born in Antigua, where he spent the first fifteen years of his childhood, and then moved to Queens, New York. He went to Andrew Jackson High School, now Campus Magnet School, where he spent many years not knowing that higher education was ever a possibility for him, due to his grades. It wasn’t until his gym teacher explained to him that he could attend a community college, rather than a four-year university, that the doors began to open for him. He immediately signed up and went on to obtain an Associate’s Degree and later a Bachelor’s Degree as well.</p>
                    <p>“I was very ambitious but the outlet for me was limited. I had limited advice, no one ever told me what was possible.”</p>
                    <p>You can be endlessly ambitious and driven, you can reach for every opportunity presented to you, and still be stuck playing catch-up for your entire life. If there’s no opportunity for you to reach for, how can you ever succeed in attaining it?</p>
                    <p>“I can identify with the kids I’m trying to help. I always felt out of place because I wanted more than my environment was giving me and I didn’t know where and how to find it. When I go back to my country or I look around my neighborhood, I see kids facing the same struggles I did, and I realize that information is priceless. The more information I can give them and the more skills I can teach them, the more I can expose them to their potential and the opportunities available to them. The more doors I can open for them, the bigger they can dream and see a pathway to achieve their goals.”</p>
                </div>
            </div>
        </div>

    </div>
    <%- include ./partials/footer -%>
</body>

</html>